<html>
<head>
	<title>Cars</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
	<h1>Cars</h1>
	<div class="box">
		<h4>Ford GT</h4>
		<img src="images/fordGT.jpg" alt="Ford GT">
	</div>
	<div class="box">
		<h4>Saleen Mustang</h4>
		<img src="images/saleen.jpg" alt="Saleen">
	</div>
	<div class="box">
		<h4>Dodge Viper</h4>
		<img src="images/viper.jpg" alt="Viper">
	</div>
	<div class="box">
		<h4>Mini Cooper</h4>
		<img src="images/mini.jpg" alt="Mini">
	</div>
	<h3><a href="cars/new">Add a Car</a></h3>
</body>
</html>